html {
  font-family: Arial ,"Times New Roman", sans-serif;
}

h1,
h2 {
  color: DarkGreen;
}

#bahia h3 {
  color: SeaGreen;
}

.bahia_bg_img {
  background-image: url("./image/bahia.jpeg");
  width: 1200px;
  height: 1200px;
}
